
.root{
	-fx-background-image: url("file:///menu.png");
	
}
#title {
	-fx-font-family: "Impact";
	-fx-font-size: 60px;
	-fx-text-fill: linear-gradient(orange, gold, orangered);
	-fx-effect:dropshadow(GAUSSIAN,rgba(255,255,255,0.5),0,0,0,1);
}
#level{
	-fx-background-image: url("file:///button.png");
	-fx-pref-width: 155px;
	-fx-pref-height: 47px;
	-fx-font-family: "Impact";
	-fx-font-size: 23px;
	-fx-text-fill: white;
}
#numLevel {
	-fx-font-family: "Impact";
	-fx-font-size: 36px;
	-fx-text-fill: white;
}
